header {
  .name {
    display: flex;
    align-items: center;
    height: 40px;
    width: 93%;
    padding: 18px 28px 18px 16px;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    h2 {
      color: var(--primary, #25294c);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    svg {
      width: 22px;
      height: 22px;
      text-align: center;
    }
  }
}
.modal {
  
  display: flex;
  flex-direction: row;
  height: 260px;
  padding: 8px 16px 16px 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  background: #e9ecef;

  .content {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
    background: #fff;
    
   

    input {
      width: 330px;
      height: 38px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      outline: none;
    }

    select {
      display: flex;
      width: 330px;
      height: 38.018px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      -moz-appearance: none;
      appearance: none;
      background: white;
      outline: none;
    }
   

    .inputs {
      display: flex;
      flex-direction: column;
    }

    .texto {
      color: var(--color-fill-dark, #343a40);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      gap: 4px;
    }
    .ast {
      color: var(--standards-danger, #dc3545);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .teste {
    display: flex;
    height: 20px;
    padding: 16px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dee2e6;

    background: var(--backgrounds-background, #e9ecef);

    button {
      width: 135px;
      height: 38px;
      flex-shrink: 0;
      border: none;
      background-color: #dc3545;

      color: var(--color-fill-white, #fff);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.457px;
      border-radius: 5px;
    }

    .buttonn{
        background-color: #19875480;
    }
  }
}
