:root {
    --primary: #25294C;
    --secondary: #202342;
    --textPrimary: #333333;
    --textSecondary: #e9ecef;
    --background: #e9ecef;
    --brand: #27c498;
    --positive: #0d6efd;
    --sucess: #198754;
    --warning: #ffc107;
    --danger: #dc3545;
}


*{
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
}



